*{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif
}
html{
    scroll-behavior: smooth;
}
body{
    background-color: rgb(179, 179, 179);
    height: 200vw;
    display: block;
    margin: -0vw;
    overflow-x: hidden;

}
::-webkit-scrollbar{
    display: none;
}
#Portada{
    margin-top: -80px;
    width: 102%;
    z-index: 0;
}

.PantallaPrincipal{
    position: fixed;
    width: 100%;
    background-color: rgb(0, 0, 0);
    height: 50vw;
}

.inicio h1{
    margin-left: 4vw;
    margin-top: -48vw;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: rgb(255, 255, 255);
    font-size: 7vw;
    height: 40vw;
    display: grid;
    place-items: center;
}
.logo1{
    position: absolute;
}
.log{
    position: absolute;
    margin-left: 2vw;
    width: 10vw;
    z-index: 1;
}
.loga{
    position: absolute;
    margin-left: -2vw;
    width: 8vw;
}
.Pantalla{
    display: flex;
    position: relative;
    height: 620px;
}
#segunda{
    height: 660px;
    margin-top: 40px;    
    background-color: #2c2c2c;
}

#tercera{   
    height: 25vw;
    margin-top: -70px; 
    background-color: #e9e9e9;
    z-index: 1;
}

 @-webkit-keyframes color-change-2x {
    0% {
      background: #e8d20a;
    }
    100% {
      background: #fff56d;
    }
  }
  @keyframes color-change-2x {
    0% {
      background: #ebd807;
    }
    100% {
      background: #fff495;
    }
  }
  
#bg-pan-left {
    width: 100vw;
	-webkit-animation: color-change-2x 2s linear infinite alternate both;
	        animation: color-change-2x 2s linear infinite alternate both;
}

  
#cuarta{   
    overscroll-behavior: none;
    height: 150vw;
    margin-top: -40px;
    background-color: rgb(159, 159, 159);

}

#quinta{   
    background-color: rgb(29, 29, 29);
}
header{
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    z-index: 10;
    position: fixed;
    top: 0;
    left: -80px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items:center;
    transition: 0.6s;
    padding: 30px 60px;
}
header.sticky{
    padding: 5px 60px;
    background-color: white;
}
header.sticky .log{
    margin-left: 3.5vw;
    margin-top: -2.5vw;
    width: 5vw;
    z-index: -1;
}
header .log{
    margin-top: -4vw;
    width: 8vw;
    transition: 0.6s;
}
header.sticky .loga{
    margin-left: 3.5vw;
    margin-top: -2.5vw;
    width: 5vw;
}
header .loga{
    margin-left: 2vw;
    margin-top: -4vw;
    width: 8vw;
    transition: 0.6s;
}
header ul{
    position: relative;
    display: flex;
    justify-items: center;
    align-items: center; 
}
header ul li{
    position: relative;
    list-style: none;
}
header ul li a{
    left: 72vw;
    position: relative;
    margin: 0 15px;
    text-decoration: none;
    color: rgb(255, 254, 254);
    letter-spacing: 2px;
    font-weight: 500px;
    transition: 0.6s;
}
header.sticky .logo1,
header.sticky ul li a{
    color: rgb(0, 0, 0);
}
.presentacion{
    color:#F6F2F6;
    position: relative;
    margin-top: 10vw;
    margin-left: 10vw;
    font-size: 1.5vw;
    text-align: center;
}
.highlight{
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    color: #f8ba4d;
}
.Fotografo{
    position: absolute;
    margin-left: 53vw;
    margin-top: 6vw;
    display: grid;
    place-items: center;
    width: auto;
    height: 34vw;
    z-index: 2;
    background-color: #c4c1c4;
}
.cuadro{
    position: absolute;
    transform: translate(11vw,33vw);
    z-index: 3;

    width: 30vw;
    height: 5vw;
    border:none;
    background-color: #ffffff; 
    overflow: hidden;

}
#cuadro1{
    cursor:pointer;
    box-shadow: 6px 6px 12px #0f0f0f,
    -6px -6px 12px #3c3c3c;
    border-radius:3vw;
}
#cuadro1::before {
    content: '';
    width: 0;
    height: 4.3em;
    border-radius: 30em;
    position: absolute;
    top: 0;
    left: -1.1vw;
    background-image: linear-gradient(to right, #d8a60f 0%, #f9f047 100%);
    transition: .5s ease;
    display: block;
    z-index: -1;
    color:#ffffff;

    }
   
   #cuadro1:hover::before {
    width: 27em;
    height: 4.3em;

   }
.cuadro h1{
    margin-top: 1.3vw;
    color:#000000;
    font-size: 2vw;
    text-align: center;
}
#cuadro2{
    border: none;
    background-color: #f8ba4d;
    width: 40vw;
    height: 44vw;
    z-index: 0;
    transform: translate(69vw,0vw);
}
.presentacion2{
    width: 40vw;
    position: absolute;
    color:#c4c1c4;
    margin-top: 18vw;
    margin-left: 6.5vw;
    font-size: 0.9vw;
    text-align: justify;
}


.iconos{
    display: inline-block;
    width:10vw;
    height: 10vw;
    padding-left: 12.3vw;
    margin-top: 6vw;
}
#diploma{
    width: 7vw;
    height: 7vw;
    margin-top: 8vw;
}
#fiesta{
    width: 7vw;
    height: 7vw;
    margin-top: 8vw;
}
.txtIconos1{
    position: absolute;
    transform: translate(10.7vw,14vw);
}
.txtIconos2{
    position: absolute;
    transform: translate(33vw,14vw);
}
.txtIconos3{
    position: absolute;
    transform: translate(56vw,14vw);
}
.txtIconos4{
    position: absolute;
    transform: translate(76.5vw,14vw);
}
.txtTituloicono{
    position: absolute;
    width: 100%;
    text-align: center;
}













.Tarjeta{
    width: 100vw;
    height: 100vw;
    position: absolute;

}
.trj{
    height: auto;

}
#imgTarjeta{
    width: 35vw;
    height: 30vw;
    transform: translate(10vw,5vw);
    padding-bottom: 6vw ;
    border: 10px solid #ffffff;
    background-color: white;
    box-shadow: 6px 6px 6px #171717,
    -6px -6px 6px #b5b5b5;
    z-index: 2;
}
#imgTarjeta2{
    width: 35vw;
    transform: translate(55vw,-6vw);
    padding-bottom: 6vw ;
    border: 10px solid white;
    background-color: white;
    box-shadow: 6px 6px 6px #171717,
    -6px -6px 6px #b5b5b5;
    z-index: 2;
}
#imgTarjeta3{
    width: 35vw;
    transform: translate(10vw,-20vw);
    padding-bottom: 6vw ;
    border: 10px solid white;
    background-color: white;
    box-shadow: 6px 6px 6px #171717,
    -6px -6px 6px #b5b5b5;
    z-index: 2;
}

.back4ta{
   width: 100%;
   height: 10vw;
   margin-top: -143vw;
   z-index: 1;
   color: #000000;
   border-top: 10px solid rgb(254, 233, 110);   
   border-bottom: 10px solid white;
   font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Luc;
}

















































